.index-bg {
  background-image: url('img/transpocincprideflag.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.lesbian-bg {
  background: url(img/lesbianprideflag.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lgbt-links {
  font-size: 65px;
  color: white;
  font-family: 'MuseoModerno', cursive;
}

a:hover {
  text-decoration: none;
}
