.lgbt-links {
  font-size: 65px;
  color: white;
  font-family: 'MuseoModerno', cursive;
}

a:hover {
  text-decoration: none;
}

#index-bg {
  background-image: url("img/prideparade.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#index-box {
  background-color: #C0C0C0;
  opacity: 0.8;
  border: solid black;
  width: 45vw;
  height: auto;
  margin: auto;
  margin-top: 40vh;
  padding: 20px;
  font-size: 20px;
}

#index-box h1{
  text-align: center;
}

.hover-flag {
  margin: auto;
  width: 600px;
}

.hover-flag li {
  width: 100%;
  padding: 10px;
}

li:hover {
  color: black;
  cursor: pointer;
}

.hover-flag ul {
  padding: 0;
  width: 600px;
  height: 400px;
}


.flag-rows {
  display: table;
  height: 100%;
  width: 100%;
}

.flag-rows li {
  display: table-row;
}

.flag-div .image {
  opacity: 1;
  display: block;
  width: 600px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: auto;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 600px;
}

.flag-text {
  text-align: center;
  cursor: pointer;
}

.flag-div:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

.flag-div:hover .middle {
  opacity: 1;
}

.image-grid img {
  width: 300px;
  height: 450px;;
  padding: 20px;

}

h3 {
  font-size: 65px;
}

.flag-div {
  padding-bottom: 100px;
}


li {
  list-style-type: none;
}

.list-heading {
  text-decoration: underline;
  font-size: 25px;
}
